.mydiv1 {
    width: 200px;
    height: 200px;
    background: blue;
    position: relative;
    top: 20px;
    left: 130px;
}
.mydiv2 {
    width: 100px;
    height: 100px;
    background: #841105;
    position: absolute;
    left: 40px;
    top: 45px;
    box-shadow: 3px 3px 3px 0px white;
}
    h2{

    	background: gray;
    	position: fixed;
    }
    .div1{
    	width: 150px;
    	height: 150px;
    	background: green;
    }
     .div2{
    	width: 150px;
    	height: 150px;
    	background: red;
    }
     .div3{
    	width: 150px;
    	height: 150px;
    	background: gray;
    }