*{
	margin:0px;
	outline: 0px;

}
.menu{

    background: #444;
      width: 100%;
    height: 47px;
    margin-top: -71px;
    position: fixed;
    }
.menu ul{
    list-style-type: none;
    padding: 15px 125px;
}

.menu ul a{

    text-decoration: none;
    background: #444;
    color: #928e8e;
    padding: 15px 10px;
}

.menu ul a:hover{
	color: white;
}

.menu ul li{
float: left;
}
.head{
	padding-left: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 71px;
    text-align: center;
    padding-right: 250px
}
.head h1{
	    color: #2b2626;
	    font-weight: 100;
	font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}
.head p{
	    color: #4c4545;
	    font-size: 21px;
	    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}

.mid {
    margin-top: 100px;
    width: 1200px;
    height: 400px;
    margin-left: 149px;
}

.mid>.same>.A{
	width: 100px;
	/*height: 100px;*/
	display: block;
	    margin-left: 63px;
}
.mid>.same {
    width: 350px;
    height: 300px;
    float: left;
}
.mid>.same> button {
    background: #0291f7;
    color: white;
    width: 133px;
    height: 60px;
    font-size: 20px;
    border: none;
}
.mid>.same> button>img{
	width: 20px;
	height: 20px;
	display: inline;
}

.mid>.same>button>small{
	font-size: 10px; 
	display:block;
}

.mid>.same> button:hover{
    background: #0972f5;
}

.mid>.same>.tbl {
    width: 260px;
    margin-left: 6px;
    margin-top: 20px;
    font-size: 11px;
    font-family: system-ui;
}
.mid>.same>.tbl td{
	background: #0291f7;
	border-radius: 4px;
	    color: white; 
}
a {
    color: #0071BC;
    text-decoration: none;
    cursor: pointer;
}
.text {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 70px;
    background: #f5f2f2;
    padding-top: 50px;
}
.see {
    width: 100%;
    height: 40px;
    margin-top: 50px;
}
.see>button {
    margin-left: 621px;
    border: none;
    color: #40a2f7;
    cursor: pointer;
    background: none;
    font-family: fangsong;
}

.ftr {
	width: 100%;
    background-color: #333;
    font-size: 15px;
    color: white;
    font-family: emoji;
    overflow: hidden;
}
.ftr>.divider{
	width: 100%;
	height: 100px;
	background: #333;
}
.ftr>.divider>.foot{
	height: 100px;
	width: 50%;
    background: #333;
    float: left;
}
.ftr>.divider>.foot ul{
    list-style-type: none;
    margin-left: 85px;
}
.ftr>.divider>.foot ul li{
	float: left;
	padding: 40px 10px;
}
.ftr>.divider>.foot ul li a{
    text-decoration: none;
    color: white;
}
.ftr>.divider>.foot ul li:last-child{
    padding-top: 41px;
    padding-bottom: 20px;
}